  <!DOCTYPE html>
  <html>
  <head>
  	<title>Todo</title>
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.css') }}">

    <link rel="shortcut icon" type="text/css" href="{{ url_for('static',filename='favicon.ico') }}">
    <body style="background:#ADC2B5">
     <div class="container" style="margin-top:3em;">
      <h1 class="text-center" style="font-size:4em; font-family:helvatica">Add a new task </h1>
      <form class="form-group" action="{{ url_for('index') }} " method="POST">
        <div class="input-group mb-2">
          <input type="text" class="form-control" placeholder="insert" name="task" required minlength="10" max="80">
          <div class="input-group-append">
           <button class="btn btn-lg btn-outline-dark" type="submit" id="button-addon2">Add</button> 
         </div>
       </div>
     </form>
   </div>


   <section>
    <div class="container">
     <div class="card-deck">
       <div class="row">


        {% for todo in todos %}
        <div class="col-sm-6">
          <div class="card" style="margin:2rem;">
            <div class="card-body">
              <h5 class="card-title" style="font-family:helvatica;">Todo</h5>
              <p class="card-text" style="font-size:2em;">{{ todo.task }} </p>
              <form method="POST" action="{{ url_for('delete') }}">
                <input type="hidden" value="{{todo.task }}" name="task">
                <button type="submit" class="btn btn-lg btn-outline-dark">complete</button>
              </div>
              <div class="card-footer text-muted">{{ todo.created }}
              </div>
            </div>
          </div>

          {% endfor %}


        </div>
      </div>

    </div>


  </section>
 

 
    <footer style="background:#263238; height:6em; margin-top:11em; width:100%;" >
        <span class="text-muted">
          <a href="{{ url_for('social') }}"><img src="{{ url_for('static',filename='github.svg') }}">
          </a>
        </span>

    </footer>

</body>
</html>



